body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}